@import 'tailwindcss';

body {
    background: linear-gradient(45deg, transparent 0, transparent calc(50% - 1px), white calc(50% - 1px), white calc(50% + 1px), transparent calc(50% + 1px), transparent 1px, transparent 2px) lightblue;
    background-size: 4px 8px, 100%;
}

#grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0px;
}

canvas, img {
    image-rendering: pixelated;
    background: white;
}

#game-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.face, .game {
    position: relative;
    overflow: hidden;
    filter: brightness(.68) blur(0.3px) contrast(3);
    background: white;
}

.game {
    border: 1px solid black;
}

.halftone{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: screen;
    opacity: .9;
    pointer-events: none;
    touch-action: none;
}

/* adapted from https://leanrada.com/notes/pure-css-halftone/ */
.halftone:before, .halftone:after {
    --halftone-size: 3px;
    --halftone-bleed: 0.41;
    --halftone-rotation: 360deg;
    --halftone-dot-size: calc(var(--halftone-size) * var(--halftone-bleed));
    --halftone-color-dot-size: var(--halftone-dot-size);
    inset: 0;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    mix-blend-mode: multiply;
    background-size: var(--halftone-size) var(--halftone-size);
    image-rendering: pixelated;
    pointer-events: none;
    touch-action: none;
}

.halftone:after {
    background-image: radial-gradient(var(--halftone-color-dot-size) at 75% 25%, #f0f, #f6f, #fff), radial-gradient(var(--halftone-color-dot-size) at 25% 75%, #f0f, #f6f, #fff), radial-gradient(var(--halftone-color-dot-size) at 75% 75%, #0ff, #6ff, #fff), radial-gradient(var(--halftone-color-dot-size) at 25% 25%, #0ff, #6ff, #fff);
    /* transform: rotate(calc(-10deg + var(--halftone-rotation))) translateX(calc(var(--halftone-size) * 0.58)); */
}

.halftone:before {
    background-image: radial-gradient(var(--halftone-dot-size) at 25% 75%, #000, #666, #fff), radial-gradient(var(--halftone-color-dot-size) at 75% 25%, #000, #666, #fff), radial-gradient(var(--halftone-color-dot-size) at 25% 25%, #ff0, #ff6, #fff), radial-gradient(var(--halftone-color-dot-size) at 75% 75%, #ff0, #ff6, #fff);
    /* transform: rotate(calc(10deg + var(--halftone-rotation))) translateX(calc(var(--halftone-size) * 0.58)); */
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    background: white;
    padding: 0 1em;
    box-shadow: -7px 7px 0px gray, -8px 8px 0px black;
    mix-blend-mode: normal;
    font-family: monospace;
}

#controls {
    /* position: absolute;
    top: 0;
    right: 0; */
    position: relative;
    margin: auto;
    padding: 1em;
    border: 1px solid black;
    background: white;
    font-family: monospace;
    text-align: center;
}

#controls h4 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
    color: #000;
    text-shadow: 0 0 10px #fff;
}

#controls #face {
    margin: auto;
}

#controls:before {
    content: "";
    position: absolute;
    top: 10px;
    left: -10px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #000 0px, #000 1px, transparent 1px, transparent 2px), linear-gradient(to top, #000 0px, #000 1px, transparent 1px, transparent 2px);
    background-size: 2px 2px;
    z-index: -1;
}

#controls input[type="button"] {
    align-items: center;
    justify-content: center;
    background: white;
    border: 1px solid black;
    border-radius: 0px;
    appearance: none;
    -webkit-appearance: none;
    margin: .5em 4px;
    padding: 0px 0.5em;
    align-self: center;
    cursor: pointer;
    margin-bottom: .25em;
}

#controls input[type="button"]:hover {
    background: linear-gradient(to right, #000 0px, #000 1px, transparent 1px, transparent 2px), linear-gradient(to top, #000 0px, #000 1px, transparent 1px, transparent 2px);
    background-size: 2px 2px;
    background-position: 1px 0, 1px .5px;
    color: white;
    font-weight: bold;
    text-shadow: -.5px -.5px 0px black, .5px -.5px 0px black, -.5px .5px 0px black, .5px .5px 0px black;
    box-shadow: -3px 3px 0px white, -4px 4px 0px black;
    border: 1px solid transparent;
}

#controls input[type="range"] {
    width: 100px;
    height: 10px;
    background: white;
    border: 1px solid black;
    border-radius: 0px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}

#controls input[type="range"]::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
    background: linear-gradient(to right, #000 0px, #000 1px, transparent 1px, transparent 2px), linear-gradient(to top, #000 0px, #000 1px, transparent 1px, transparent 2px);
    background-size: 2px 2px;
    background-position: 1px 0, 0 .5px;
    border: none;
    border-radius: 0px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}

h1 {
    position: relative;
    margin: 0;
    width: 256px;
    text-align: center;
    font-size: 1.5em;
    color: white;
    padding: 0.5em;
    font-weight: bold;
    /* border: 1px solid black; */
    background: linear-gradient(to right, #000 0px, #000 1px, transparent 1px, transparent 2px), linear-gradient(to top, #000 0px, #000 1px, transparent 1px, transparent 2px);
    background-size: 2px 2px;
    font-family: monospace;
    margin: -1em auto 1em;
    
    text-shadow: -.5px -.5px 0px black, .5px -.5px 0px black, -.5px .5px 0px black, .5px .5px 0px black;

}

/* #pareidolia {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

#pareidolia canvas, #pareidolia svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#pareidolia canvas {
}

#pareidolia svg {
    z-index: 100;
}

#pareidolia svg circle:hover {
    stroke: purple;
    fill: purple;
    opacity: .5;
    r: 3;
}

#face-svg circle {
    cursor: pointer;
    filter: drop-shadow(0 0 4px yellow) drop-shadow(0 0 8px yellow) drop-shadow(0 0 2px yellow);
}